doctype html 
html 
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  body
    header
      h1= tour
      p= user.toUpperCase()
    main
    //-   p Welcome to the Park Camper!
    footer
    //-   p &copy; 2023 The Park Camper
